/* Additional CSS tags for signin page from Bootstrap Examples */
#signin-container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-signin {
  background-color: #eee;
  width: fit-content;
  border-radius: 15px;
  max-width: 330px;
  padding: 30px;
  margin: 0 auto;
}
.form-signin img {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin button {
  margin-top: 10px;
}
.form-signin .spacer {
  margin-top: 5px;
}
#auth-load {
  margin-top: 40px;
  text-align: center;
}
.form-signin .spinner-border {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.navbar .spacer {
  vertical-align: middle;
}
.navbar-brand img {
  margin-right: 7px;
}
.navbar-body {
  padding-top: 66px;
  padding-bottom: 0px;
}
.navbar-body .spacer {
  margin-top: 20px;
}

 .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        min-height: 100vh !important;
        padding-top: 70px;
        padding-bottom: 0px;
        padding-left: 5px;
        padding-right: 5px;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }
    #sidebar-wrapper{
        min-height: 100vh !important;
        margin-left: -1rem;
        max-width: 188px;
        -webkit-transition: margin .25s ease-out;
        -moz-transition: margin .25s ease-out;
        -o-transition: margin .25s ease-out;
        transition: margin .25s ease-out;
    }
    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }
    
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }