/* Additional CSS tags for signin pages based off of Bootstrap Examples */
#signin-container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-signin {
  background-color: #eee;
  width: fit-content;
  border-radius: 15px;
  max-width: 330px;
  padding: 30px;
  margin: 0 auto;
}
.form-signin img {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin button {
  margin-top: 10px;
}
.form-signin .spacer {
  margin-top: 5px;
}
#auth-load {
  margin-top: 40px;
  text-align: center;
}
.form-signin .spinner-border {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Additional custom style for page not found page */
#page-not-found {
  width: 100px;
  margin-bottom: 40px;
}

/* Custom navbar and page styling */
.navbar .spacer {
  vertical-align: middle;
}
.navbar-brand img {
  margin-right: 7px;
  margin-left: 0px;
}
.navbar-page {
  padding-top: 86px;
  padding-bottom: 30px;
  margin-right: 0px;
}

/* Styling to make dropdown menu dark*/
.nav-item .dropdown-menu {
  background: #212529;
}
.nav-item .dropdown-item {
  color: #ffffff;
}
.nav-item .dropdown-item:hover {
  background: #343a40;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #563b5a;
}

/* Styling for buttons in same row as headers */
.header-button {
  float: right;
}
.inline-header {
  display: inline-block;
}
